/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 14px;
}
h1 {
  font-size: 4rem;
}
header {
  height: 100%;
  width: 100%;
  color: pink;
}
/******************************************
/* LAYOUT
/*******************************************/
header nav {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: navy;
  height: 5rem;
}
/* pushes the the lis within nav to the left */
nav li:first-child {
  margin-left: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  font-variant: all-small-caps;
  font-size: 1.5rem;
}
a:hover {
  color: green;
}
main {
  background-image: url(https://api.lorem.space/image/album?w=1900&h=700&hash=6gzq6j5i);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12%;
  filter: drop-shadow(2px 2px 22px blue);
}
main h1 {
  font-variant: all-small-caps;
  font-size: 8rem;
}
main h1,
main p {
  text-align: center;
  color: white;
}
main p {
  font-size: 1.5rem;
}
iframe {
  margin: 2rem 0;
}
.why-section {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-section h2 {
  font-variant: all-small-caps;
  font-size: 3rem;
}
.why-section p {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 36rem;
}
.box-holder {
  width: 100%;
  height: 46rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box-image {
  height: 16rem;
  width: auto;
}
.box-1,
.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 50rem;
  margin: 0;
}
.box-1 p,
.box-2 p {
  padding: 2rem 8rem;
  text-align: center;
  padding: 2rem 4rem;
  font-size: 1.3rem;
  margin: 0 0 1.5rem 0;
}
.box-1 h4,
.box-2 h4 {
  font-variant: all-small-caps;
  font-size: 2rem;
}
.box-button {
  padding: 0.8rem 2rem;
  color: black;
  border: 1px solid black;
}
.volunteer {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.volunteer h3 {
  font-variant: all-small-caps;
  font-size: 3rem;
  padding: 4rem 0 2rem 0;
}
.volunteer p {
  width: 34rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0 4rem 0;
}
.company-info-holder{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.footer-1 {
  display: flex;
  flex-direction: row;
  padding: 1rem 0 0 0;
}
.socials {
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  width: 10rem;
  margin: 1rem;
}
.company-info-holder {
  background: navy;
  padding: 0 0 2rem 0;
  width: 100%;
  display: flex;
}
.footer-heading {
  color: aquamarine;
  font-variant: all-small-caps;
  font-size: 1.2rem;
}
.footer-2, .footer-3, .footer-4 {
  height: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.footer-2 ul, .footer-3 ul, .footer-4 ul{
  height: 4rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.2rem 0rem;
}
.footer-4{
  height: 12rem;
  width: 100%;
  padding: 3rem 0 0 50rem;

}
#left-container{
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 50%;
}
#right-container{
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 50%;
}
#info{
  color: aqua;
  font-size: 2rem;
  font-variant: all-small-caps;
  line-height: 1.3rem;
  padding: 0 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.address{
  color: aqua;
  font-size: 1.2rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.copyright{
  background: navy;
  color: aqua;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/